
#root{
  font-family: 'Oswald','sans-serif';
  background-color: rgba(214,214,212,0.2);
  color: #3b3a32;
  height: 1000px;
}

.navb{
  background-color: #fff;
}

#myNavbar{
  width: 100%;
  box-shadow: 2px 2px #eee;
}

#myNavbar a{
  text-decoration: none !important;
  color: #3b3a32 ;
  /*transition: all .5s ease-in-out !important;*/
}

#myNavbar1{
  margin-left: 200px;
  margin-top: -80px;
}

#myNavbar3{
   margin-left: 20px;
   margin-top:  -50px;
}


.largeMyNavbar2{
  margin-left: auto;
  align-items: center;
  margin-top: -50px;  
}


#loginButton{
  margin-left: 5px;
}

#productField{
  margin-right: 5px;
  margin-left: 3px;
}

.btn-perso-1{
  color: #3b3a32 !important;
  transition: all .5s ease-in-out !important;
}

/* .btn-perso-1 FaShoppingCart{
  color: #3b3a32 !important;
  transition: all .5s ease-in-out !important;
}

.btn-perso-1 FaUser{
  color: #3b3a32 !important;
  transition: all .5s ease-in-out !important;
} */

.btn-perso-1:hover{
  color: #ffbb02 !important;
  background-color: #3b3a32 !important;
}

.btn-perso-1:hover a{
  color: #ffbb02 !important;
}

/* .btn-perso-1 FaShoppingCar:hover{
  color: #ffbb02 !important;
}

.btn-perso-1 FaUser:hover{
  color: #ffbb02 !important;
} */

#myNavbar1 li{
  color: #3b3a32 !important;
  transition: all .3s ease-in-out !important;
}

#myNavbar1:hover li{
  opacity: 0.2;
  filter: blur(0.px);
}

#myNavbar1 li:hover{
  opacity: 1;
  filter: blur(0px);
}


/*********************seachbox*************************/

.myNavbar3 .btn{
  background-color: #ffbb02 !important;
  max-width: 40px;
  border: none !important;
  border-top-right-radius: 25px !important;
  border-bottom-right-radius: 25px !important;
  margin-bottom: 5px;
}

.myNavbar3 .form-control{
  border-top-left-radius: 25px !important;
  border-bottom-left-radius: 25px !important;
  background-color: rgba(214,214,212,0.2) !important;
  display: inline-block;
}

/* .myNavbar3 .form-group{
  margin-bottom: 0px;
} */

.myNavbar3 .btn {
  transition: all .3s ease-in-out !important;
  color: #3b3a32 !important;
}

.myNavbar3 .btn:hover {
  font-size: 18px;
}

/*code css à appliquer pour tous les écrans qui ont une taille minimale de 900 pixels*/
@media only screen and (min-width : 900px){
  .myNavbar3 .form-control{
    width: 250px;
  }
}

@media only screen and (min-width : 1200px){
  .myNavbar3 .form-control{
    width: 350px;
  }
}

/***********title component*****************/
.text-title{
  font-family: 'Permanent Marker', cursive;
  letter-spacing: 0.3;
  text-transform: uppercase;
}

.text-title h1{
  font-weight: bold;
  text-transform: capitalize;
  
}

.text-yellow{
  color: #ffbb02;
}



.pic-1{
  
}

/************************************************beforeHeader******************************************/
.topNavbar{
  background-color: #ffbb02;
  position: relative;
  width: 100%;
  height: 60px;
  overflow: hidden;
}


.topNavbar p{
  position:absolute;
  font-weight: bold;
  text-transform: uppercase;
  color: #3b3a32;
  font-size: 25px;
  font-family: 'Balsamiq Sans';
  text-align: center;
  top: 0;
  left: 25%;
  padding-top: 10px;
  padding-bottom: 10px;

  white-space: nowrap;
}

/************************************CartComponent**********************************************/

.cartItem{
  border-radius: 10px;
  background-color: #fff;
  margin-bottom: 15px;
  margin-top: 8px;
}

.cartItem img{
  border-radius: 10px;
  height: 80px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.buttonCart{
  margin-left: 5px;
  background-color: #3b3a32 !important;
  border: none;
  max-width: 35px;
  box-shadow: 2px 2px 0 rgba(0,0,0,.15);
}

.buttonCart span{
  transition: all .3s ease-in-out;
}
.buttonCart:hover span{
  font-size: 20px;
}

.buttonCart-middle{
  height: 55px;
  width: 30px;
}
.buttonCartDelete{
  border-radius: 50% !important;
  background-color: #fa3c3c !important;
  transition: all .3s ease-in-out;
}

.spaceCart{
  min-height: 400px;
}

